{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% block navbar %}
<div class="h5">Test Case Table</div>
{% endblock %}

{% block content %}
    {% if filter %}
        <form action="" method="get" class="form form-inline">
            <a
                    class="btn btn-primary modal-form mr-1"
                    type="button"
                    name="button"
                    href="{% url 'add_test_case' %}">Add test case
            </a>
            {% bootstrap_form filter.form layout='inline' %}
            {% bootstrap_button 'Filter' extra_classes="ml-1" %}
        </form>
    {% endif %}
    {% render_table table 'django_tables2/bootstrap.html' %}
{% endblock %}